<% layout('layouts/boilerplate')%>
    <form action="/locations" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="foodlocation[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="foodlocation[location]">
        </div>
        <button>Add new location</button>
    </form>
    <a href="/locations">All locations</a>
