<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Location</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/locations" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="foodlocation[title]" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="foodlocation[location]" required>
            </div>

            <div class="mb-3">
                <label for="locationImage" class="form-label">Images</label>
                <input class="form-control" type="file" id="locationImage" name="locationImage" multiple>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="location" name="foodlocation[description]" required></textarea>
            </div>
            <div>
                <button class="btn btn-success">Add new location</button>
            </div>
        </form>
    </div>
</div>




