<!-- margin top auto = mt-auto -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-white-50">&copy; Teo Hong Rui Seth, 2023</span>
    </div>
</footer>