@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

body {
    background-image: url("/images/defaultbackground.png");
}

.header {
    font-family: 'DM Serif Display', serif;
    font-size: xx-large;
}

.testImage {
    border: 1px #ddd;
    border-radius: 4px;
    padding: 5px;
}